<div class="row">
    <div class="col-md-12">
        <h3 class="breadcrumb">Back-up databank</h3>
        <p>Automatisch wordt er elke nacht een back-up genomen van het gehele systeem, deze wordt dan drie dagen bijgehouden.</p>
        <p>Elke zondagavond wordt er ook nog een extra permanente back-up genomen die nooit verwijderd wordt.</p>
        <form method="get" action="@routes.Admin.getBackup()">
        <button typsdfqe="submit" class="btn btn-default btn-lg" >
            <span class="glyphicon glyphicon-cloud-download"></span> Download laatste back-up
        </button>
        </form>


        <p></p>
        <button type="submit" class="btn btn-default btn-lg" onclick="location.href='createbackup'">
            <span class="glyphicon glyphicon-hdd"></span> Creëer back-up
        </button>
    </div>
</div>
