<hr>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="column" style="text-align: center; margin-left: auto; margin-right: auto; font-size: x-small;">
    <p>&copy; Edran 2014 | <a href="@routes.Application.contact()" style="color: black;"><strong>Contacteer ons!</strong></a></p>
    <div class="fb-like" data-href="https://www.facebook.com/pages/D%C3%A9gage-D%C3%A9-Gedeelde-Autovloot-Gent/183190448400548?fref=ts" data-layout="button_count" data-width="100px" data-height="5px" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
