
@(form: Form[ForgotPasswordModel])

@main("Wachtwoord vergeten?"){
    <h2>U bent uw wachtwoord vergeten?</h2>
    <p>Geen nood!</p>
    <p>Geef hieronder uw emailadres op en we sturen u een mail met daarin meer info over het resetten van uw wachtwoord.</p>
@helper.form(routes.ForgotPassword.sendResetToken()){
    <div class="clearfix error" id="email_field">
        <div class="input ">
            <input type="text" name="email" id="email" value="">
        </div>
        <p><br><button class="btn btn-success" type="submit">Verzend mail</button></p>

    </div>
}
    <h3>U bent vergeten met welk emailadres u zich aanmeldde?</h3>
    <p>Neem dan alstublieft contact op met ons, we helpen u met plezier verder.</p>
    <p>Dit kan zowel <a href="mailto:edran.vopro@@gmail.com">per mail</a> als telefonisch op 09/3299477</p>
    <small><cite title="Dégage">Het Dégage-team</cite></small>

    <div class="row">
    @footer()
    </div>

}
