@(form: Form[ResetPassword])
    @stylesheets = {
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/parsley.css")" />
    }

    @javascripts = {
        <script type="text/javascript" src="@routes.Assets.at("javascripts/parsley.min.js")"></script>
    }
@main("Reset wachtwoord",stylesheets, javascripts ){
    <div class="centered">
    <h3>Gelieve een nieuw wachtwoord te kiezen</h3>

    @helper.form(routes.ForgotPassword.resetPassword()) {
    <div class="centered col-xs-6">
        <form  role="form">
            <input type="hidden" name="token" placeholder="Reset-token" value ="@form("token").value">

            <div class="form-group">
                <label for="exampleInputPassword1">Nieuwe Wachtwoord</label>
                <input type="password" id ="pass1" name="pass1" class="form-control" id="pass1" placeholder="Nieuw wachtwoord" data-parsley-minlength="4" data-parsley-trigger="change" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Herhaal wachtwoord</label>
                <input type="password" id ="pass2" name="pass2" class="form-control" data-parsley-equalto="#pass1" data-parsley-error-message="Gelieve tweemaal hetzelfde wachtwoord in te geven." data-parsley-trigger="change" placeholder="Herhaal nieuwe wachtwoord" required>
            </div>
            <div>
                <button class="btn btn-success pull-right" type="submit">Verander</button>
            </div>
            <br/>
        </form>

        </div>
        <br/>



    }
        <br/>
    </div>
<div class="col-xs-12">
    <div class="modal-footer">
    <p class="text-muted"><a href="http://www.hoedoe.nl/computers/internet/hoe-kies-ik-een-sterk-wachtwoord">Tips over het kiezen van een wachtwoord nodig?</a></p>

</div>
</div>

    <div class="row">
    @footer()
    </div>

}
