@main("Verificatie mail opnieuw verzenden?") {
    <h2>Verificatiemail per ongeluk verwijderd? Niet gekregen? Token vervallen?</h2>
    <p>Geen nood!</p>
    <p>Geef hieronder uw emailadres op en we sturen de verificatiemail opnieuw op</p>

    <div class="clearfix error" id="email_field">
        <div class="input ">
            <input type="text" name="email" id="email" value="">
        </div>
        <p><br><button class="btn btn-success" type="submit">Verzend mail</button></p>

    </div>

    <div class="row">
    @footer()
    </div>
}